body {
    margin:10px;
}
.eB{
    display:inline-block;
    background-color:white;
    border:none;
    
}
.dB{
    background-color:white;
    border:none;
    display:inline-block ;
}
li{
    display:inline-block;
    font-size:15px;
    margin-top:10px;
    border-radius:4px;
    padding:10px;
}
ul{
    border-bottom:1px solid ;
    width:200px;
}
#addItem{
    background-color:white;
    border:1px solid ;
    margin-top:7px;
    width:90px;
    height:40px;
}