
body {
    margin:0px;
}
#searchInp{
    margin-top:30px;
    border : 1px solid black ;
    height:20px;
    width:170px;
    border-radius:3px;
}
.eB{
    display:inline-block;
    background-color:white;
    border:none;
}
.dB{
    background-color:white;
    border:none;
    display:inline-block ;
}
li{
    display:inline-block;
    font-size:15px;
    margin-top:10px;
    border-radius:4px;
    padding:10px;
}
ul{
    border-bottom:1px solid ;
    width:200px;
}
#addItem{
    background-color:white;
    border:1px solid ;
    margin-top:7px;
    width:90px;
    height:40px;
}
/* loading */ 
#loadDiv{
    width:100%;
    height:65%;
    background-color:#DD0031;
    font-size:35px;
    color:white;
    position:absolute;
    padding-top:50%;
    text-shadow:black 1px 1px 1px;
}
