<!DOCTYPE html>
<html ng-app="app" >
    <head>
        <title>Page Title</title>
          <meta name="viewport" content="width=device-width, initial-scale=1" /> 

          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>     
          <script> window.jQuery ||  document.write(unescape("%3Cscript src='librarys/jquery-3.1.1.min.js' %3E%3C/script%3E"));</script>
     
          <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js'></script> 
          <script>window.angular || document.write(unescape("%3Cscript src='librarys/angular.min.js' %3E%3C/script%3E")); </script>
      
          <script src="https://cdnjs.cloudflare.com/ajax/libs/store.js/1.3.20/store.min.js" ></script> 
          <script>window.store ||  document.write(unescape("%3Cscript src='librarys/store.min.js' %3E%3C/script%3E"));</script>
        
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
          <script>window.jQuery.nicescroll ||document.write(unescape("%3Cscript src='librarys/jquery.nicescroll.min.js' %3E%3C/script%3E")); </script>
      
          <script defer src="librarys/fontawesome-all.min.js"></script>
          
	    	 <!-- ****** faviconit.com favicons ****** -->
			 <link rel="shortcut icon" href="img/favicon.ico">
		 	 <link rel="icon" sizes="16x16 32x32 64x64" href="img/favicon.ico">
			 <link rel="icon" type="image/png" sizes="196x196" href="img/favicon-192.png">
			 <link rel="icon" type="image/png" sizes="160x160" href="img/favicon-160.png">
			 <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96.png">
			 <link rel="icon" type="image/png" sizes="64x64" href="img/favicon-64.png">
			 <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32.png">
			 <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16.png">
			 <link rel="apple-touch-icon" href="img/favicon-57.png">
			 <link rel="apple-touch-icon" sizes="114x114" href="img/favicon-114.png">
			 <link rel="apple-touch-icon" sizes="72x72" href="img/favicon-72.png">
			 <link rel="apple-touch-icon" sizes="144x144" href="img/favicon-144.png">
			 <link rel="apple-touch-icon" sizes="60x60" href="img/favicon-60.png">
			 <link rel="apple-touch-icon" sizes="120x120" href="img/favicon-120.png">
			 <link rel="apple-touch-icon" sizes="76x76" href="img/favicon-76.png">
			 <link rel="apple-touch-icon" sizes="152x152" href="img/favicon-152.png">
			 <link rel="apple-touch-icon" sizes="180x180" href="img/favicon-180.png">
			 <meta name="msapplication-TileColor" content="#FFFFFF">
			 <meta name="msapplication-TileImage" content="img/favicon-144.png">
	  	  	 <meta name="msapplication-config" content="img/browserconfig.xml">
			 <!-- ****** faviconit.com favicons ****** -->
			
          <link rel="stylesheet" href="css/style.css" /> 
          <!-- Address bar color -->
          <!-- Chrome, Firefox OS and Opera -->
          <meta name="theme-color" content="#DD0031" />
          <!-- Windows Phone -->
          <meta name="msapplication-navbutton-color" content="#DD0031" />
          <!-- iOS Safari -->
          <meta name="apple-mobile-web-app-status-bar-style" content="#DD0031" />

    </head>
    <body ng-controller="con">       
     <div id="loadDiv" align="center">Loading ...</div>     
     <div id="expDiv" ng-click="export()" align="center">
         <label for="exS" id="expL"> <img id="expImg" src="img/export.svg" alt="export"  /></label>
         <span id="exS">Export List</span>
     </div>      
     <hr color="#ff6161"/>      
     <center>  
     		<label for="searchInp" >Search :</label>
         <input id="searchInp" ng-model="inps" />
         <div id="mainDiv">
             <div  id="itemsDiv" ng-repeat="name in names| filter: inps track by $index">
                 <p class="itemsP" n-id="name" ng-bind="name"></p> 
                 <button class="eB" ng-click="edit(name)" >
                     <i style="color: #979800;" class="far fa-edit" aria-hidden="true"></i>
                 </button>
                 <button class="dB" ng-click="del(name)">
                     <i style="color : #ff6161;" class="far fa-minus-square" aria-hidden="true"></i>
                 </button>
              </div>
          </div>
          <br />
          <button id="addItem" ng-click="add()">
            Add   <i class="far fa-plus-square" aria-hidden="true"></i>
          </button>
           
      </center>

      <script src="js/script.js"></script>
      </body>
</html>