
body {
    margin:0px;
}
.mainBtns{
    border:1px solid ;
    margin-left:10px;
    margin-top:10px;
    padding:5px;
    box-shadow:1px 1px 1px black;
    display:inline-block;
    margin-top:5px;
}
#settingDiv{
    width:25px;
}
#expDiv{
	 width:110px;
}
#expImg{
    width:22px;
    height:22px;
    cursor:hand;
}

#searchInp{
    margin-top:20px;
    border : 1px solid black ;
    height:20px;
    width:170px;
    border-radius:3px;
}
#mainDiv{
    overflow-y: auto;
    width:250px;
    height:300px;
    display:block;
    margin-top: 15px;
}
.eB{
    display:inline-block;
    background-color:white;
    border:none;
}
.dB{
    background-color:white;
    border:none;
    display:inline-block ;
}
.itemsP{
    display:inline-block;
    font-size:15px;
    margin-top:10px;
    border-radius:4px;
    padding:10px;
}
#itemsDiv{
    border-bottom:1px solid ;
    width:200px;
}
#addItem{
    background-color:white;
    border:1px solid ;
    margin-top:10px;
    width:90px;
    height:40px;
    
}

#settingBack{
    color:black;
    text-decoration:none;
    font-size:35px;
    margin-top:5px;
    margin-left:5px;
}
/* loading */ 
#loadDiv{
    width:100%;
    height:65%;
    background-color:#DD0031;
    font-size:35px;
    color:white;
    position: absolute;
    padding-top:50%;
    text-shadow:black 1px 1px 1px;
    z-index:2px;
    
}

#chFiNa{
    margin-top:50px;
}

#chFiNa span{
  font-size:20px; 
    
}
#defaultRadio{
    margin-left:46px;
    margin-top:10px;
}
#defLeb{
    margin-right:1px;
}
#dfnInp{
   width:60px;
}
#dfnInp , #txt {
    border:none;
    border-bottom:1px solid #c1c1c1;
    color:#c1c1c1;
    outline:none;
    background-color:white;
}
#txt{
    margin-left:-4px;
    font-size:50px;
    margin-top:3px;
    position: absolute;
    
}
#defaultRadio:checked ~ #dfnInp{
    border-color:black;
    color:black;
}



